# Files and directories created by pub.
**/doc/api/
.dart_tool/
.packages
pubspec_overrides.yaml

# Dependency directories
node_modules/

# Conventional directory for build output.
/build/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.cache/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# dotenv environment variable files.
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
