@import 'tailwindcss' source('../../..');

@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'IBM Plex Sans KR', sans-serif;
}

@utility list-dash {
  list-style-type: '- ';
}

@layer base {
  /* ibm-plex-sans-kr-100 - korean_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/ibm-plex-sans-kr-v10-korean_latin-100.woff2')
      format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* ibm-plex-sans-kr-200 - korean_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/ibm-plex-sans-kr-v10-korean_latin-200.woff2')
      format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* ibm-plex-sans-kr-300 - korean_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/ibm-plex-sans-kr-v10-korean_latin-300.woff2')
      format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* ibm-plex-sans-kr-regular - korean_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ibm-plex-sans-kr-v10-korean_latin-regular.woff2')
      format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* ibm-plex-sans-kr-500 - korean_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ibm-plex-sans-kr-v10-korean_latin-500.woff2')
      format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* ibm-plex-sans-kr-600 - korean_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/ibm-plex-sans-kr-v10-korean_latin-600.woff2')
      format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* ibm-plex-sans-kr-700 - korean_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ibm-plex-sans-kr-v10-korean_latin-700.woff2')
      format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  html {
    @apply antialiased;
    @apply text-gray-700;
    @apply text-sm;
    @apply lg:text-base;
    @apply scroll-smooth;
  }

  a {
    @apply hover:max-lg:bg-[#B8EAFE];
  }
}
